.app-layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

/* Sidebar */
.sidebar {
  width: 250px;
  background: linear-gradient(to bottom, #f8cdda, #1d2b64);
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
  gap: 10px;
}


/* Links */
.sidebar a {
  display: flex;
  align-items: center;
  color: #0f172a;
  text-decoration: none;
  margin-bottom: 12px;
  padding: 10px;
  border-radius: 6px;
  transition: background 0.2s;
  font-weight: 500;
}

.sidebar a:hover {
  background: rgba(0, 0, 0, 0.08);
}

/* Logout */
.sidebar button {
  margin-top: auto;
  padding: 10px;
  background: #ef4444;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 6px;
}

/* Main content */
.main-content {
  flex: 1;
  height: 100vh;
  overflow-y: auto;
  padding: 30px;
  background: #f4f6f8;
  box-sizing: border-box;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #1d2b64;
  text-decoration: none;
  margin-bottom: 25px;
  display: block;
}

